body {
    background: #ccc;
    text-align: center;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}
h1 {
    margin: 60px 0 0 0;
}

.header h3 {
    margin-top: 5px;
    color:aliceblue;
}

p {
    font-family: 'Quattrocento Sans', sans-serif;
}

footer {
    margin: 20px 0;
}

.footer i {
    background: #232323 ;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color:#ccc;
    border-radius: 50%;
}

.footer a {
    color: #232323; 
}