body {
    background: #ccc;
    text-align: center;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}
h1 {
    margin: 60px 0 0 0;
}

.header h3 {
    margin-top: 5px;
    color:aliceblue;
}

p {
    font-family: 'Quattrocento Sans', sans-serif;
}